.coinsImg{
    max-width: 30px;
}

.full-width{
    width: max-content;
}

.myBtn{
    width: 100%;
}

.myBtnRed{
    width: 100%;
    background-color: #be1c11;
    color: #fff;
}

.toCenter{
    text-align: center;
}

.myCont{
    min-width: 545px;
}